.inner-row{
    display: flex;
    height: 100%
}

.flex-row{
    flex-wrap: wrap;
}

.cardbox{
    text-align: center;
    width: 100%;

}

.red{
    background-color: red;
    color: white;
}
.green{
    background-color: green;
    color: white;
}

#modal-wrapper{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    background-color: rgba(30, 30,30, .3);
    width: 100%;
}
#modal-wrapper.hide{
    display: none;
}


.carddetails{
    padding: 20px;
    border: solid black 1px;
}
.nums{
    position: absolute;
    border: solid black 2px;
    min-width: 50px;
    background-color: white;
    color: black;
}

#modal-wrapper .container .row{
    height: 60%;
}


#modal-body{
    background-color: white;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

.flex-row div button{
    width: 100%;
}

#priceInfo .row{
    margin: 0;
}

.update-btn{
    background-image: linear-gradient(red, red 45%, black 45%, white 55%, white);
    height: 100%;
    width: 100%;
}   