   {% extends "base.html" %}
    {% block content %}
    <div class="container-fluid">
        <div class="row">
            {% for s in sets %}
            <div class="col-12 col-md-4 col-lg-3">
                <div class="inner-row">
                    <div class="col-8">
                        <a href="{{ url_for('seeSet', set=s.setId ) }}">
                            {{ s.name }}
                        </a>
                    </div>
                    <div class="col-4">
                        {% if s.have %}
                        <div class="{% if s.have == s.set_total %}green{% else %}red{% endif %}">
                            {{ s.have }}/{{ s.set_total }}
                        </div>
                           
                            
                        
                        {% endif %}
                    </div>

                </div>
            </div>

            {% endfor %}
        </div>

        
    </div>
{% endblock %}