<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"
        integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js"
        integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css"
        integrity="sha512-XJ3ntWHl40opEiE+6dGhfK9NAKOCELrpjiBRQKtu6uJf9Pli8XY+Hikp7rlFzY4ElLSFtzjx9GGgHql7PLSeog=="
        crossorigin="anonymous" />
</head>

<body>
    <a href="{{ url_for('index') }}">Back</a>
    <div class="container-fluid">
        <div class="row">


            {% for s in cards %}
            <div class="col-12 col-sm-6 col-md-4 col-lg-2">
                <div class="inner-row">
                    {% if "user" in session %}

                    <div class="col-9">
                        <button id="card-{{loop.index}}" class="cardbox {% if s[1] %}green{% else %}red{% endif %}">
                            {{loop.index}}. {{ s[0] }}
                        </button>
                    </div>
                    <div class="col-3">
                        <div><button id="{{set.setId}}-{{loop.index}}" class="magnify"><i
                                    class="fa fa-file"></i></button></div>
                        <div><a href="{{ url_for('updateCardInSet', set=set, num=loop.index) }}"><button>x</button></a>
                        </div>
                    </div>
                
                {% else %}
                <div id="{{set.setId}}-{{loop.index}}" class="magnify cardbox {% if s[1] %}green{% else %}red{% endif %}">
                    {{loop.index}}. {{ s[0] }}

                </div>
                {% endif %}
            </div>
        </div>
        {% endfor %}


    </div>
    </div>
    <div id="modal-wrapper" class="hide">
        <div class="container">
            <div class="row">
                <div class="col-8 offset-2">
                    <div id="modal-body">
                        <h1 id="pkName"></h1>
                        <img id="pkImg" src="https://images.pokemontcg.io/sm7/symbol.png" alt="Picture of Card">
                        <div id="priceInfo"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/sets.js')}}"></script>
</body>

</html>