{% extends "base.html" %}
{% block content %}
<div class="container-fluid">
    <div class="row">


        {% for s in cards %}
        <div class="col-12 col-sm-6 col-md-4 col-lg-2">


            {% if "user" in session %}
            <div class="inner-row">
                <div class="col-11">
                    <div id="{{set.setId}}-{{loop.index}}"
                        class="magnify cardbox align-middle {% if s[1] %}green{% else %}red{% endif %}">
                        <div class="nums">{{loop.index}}</div>
                        <div class="carddetails">{{ s[0] }}</div>

                    </div>
                </div>
                <div class="col-1">
                    <div class="inner-row flex-row">
                        
                        
                            <a class="update-btn" href="{{ url_for('updateCardInSet', set=set.setId, num=loop.index) }}">
                                
                            </a>
                        
                    </div>
                </div>
            </div>
            {% else %}
            <div id="{{set.setId}}-{{loop.index}}"
                class="magnify cardbox align-middle {% if s[1] %}green{% else %}red{% endif %}">
                <div class="nums">{{loop.index}}</div>
                <div class="carddetails">{{ s[0] }}</div>

            </div>
            {% endif %}

        </div>
        {% endfor %}


    </div>
</div>
<div id="modal-wrapper" class="hide">
    <div class="container">
        <div class="row">
            <div class="col-8 offset-2">
                <div id="modal-body">
                    <h1 id="pkName"></h1>
                    <img id="pkImg" src="https://images.pokemontcg.io/sm7/symbol.png" alt="Picture of Card">
                    <div id="priceInfo"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{{ url_for('static', filename='js/sets.js')}}"></script>
{% endblock %}